<!doctype html>
<html lang="es">
    <head>
        <title>
            Compra Venta Segura
        </title>
    </head>
    <body>
        <h1>Compra Venta Segura</h1>
        <h2>Registrate</h2>
        <form action="register" method="POST">
            <input type="text" name="user_name" placeholder="Usuario"/>
            <input type="text" name="user_pass" placeholder="Contraseña"/>
            <input type="text" name="user_email" placeholder="Correo"/>
            <input type="text" name="user_type" placeholder="client"/>
            <button type="submit">Registrarme</button>
        </form>
    </body>
</html>
