<!doctype html>
<html lang="es">
  <head>
    <title>
      <%= title %>
    </title>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
      >
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,900,900i"
      rel="stylesheet"
      >
    <link
      href="/website/css/admin-login.css"
      rel="stylesheet"
      >
  </head>
  <body>
    <div class="wrapper">
      <div class="login-form-wrapper">
        <h1>LOGIN</h1>
        <h2><%= title %></h2>
        <form
          action="/admin"
          method="POST"
          autocomplete="off"
          >
          <input
            type="hidden"
            name="_csrf"
            value="<%- csrfToken -%>"
            />
          <div class="input-text">
            <input
              type="text"
              name="user_name"
              autocomplete="off"
              onfocus="onInputFocus(this)"
              onfocusout="onInputFocus(this)"
              />
            <label>User</label>
            <span class="hint">Your user name</span>
          </div>
          <div class="input-text">
            <input
              class="input-text"
              type="password"
              name="user_pass"
              autocomplete="off"
              onfocus="onInputFocus(this)"
              onfocusout="onInputFocus(this)"
              />
              <label>Password</label>
              <span class="hint">Your user password</span>
          </div>
          <button
            class="button"
            type="submit"
            >
            Start
          </button>
          <p id="error-msg">
            <%= error_message %>
          </p>
        </form>
      </div>
    </div>
    <script src='/website/js/dashboard-login.js' charset="utf-8"></script>
  </body>
</html>
