<!doctype html>
<html lang="es">
  <head>
    <title>
      <%= title %>
    </title>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
      >
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,900,900i"
      rel="stylesheet"
      >
    <link
      href="/website/css/admin-login.css"
      rel="stylesheet"
      >
  </head>
  <body>
    <div class="wrapper">
      <div class="login-form-wrapper">
        <h1>LOGIN</h1>
        <h2><%= title %></h2>
        <form
          action="/admin"
          method="POST"
          autocomplete="off"
          >
          <div class="input-text">
            <label>User</label>
            <input
              type="text"
              name="user_name"
              autocomplete="off"
              />
          </div>
          <div class="input-text">
            <label>Password</label>
            <input
              class="input-text"
              type="password"
              name="user_pass"
              autocomplete="off"/>
          </div>
          <button
            class="button"
            type="submit"
            >
            Start
          </button>
          <%= error_message %>
        </form>
      </div>
    </div>
  </body>
</html>
