<!doctype html>
<html lang="es">
  <head>
    <title>
      <%= title %>
    </title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,900,900i"
      rel="stylesheet"
      >
    <link
      href="/website/css/setup.css"
      rel="stylesheet"
      >
  </head>
  <body>
    <div class="wrapper">
      <div class="setup-form-wrapper">
        <h1><%= title %></h1>
        <h2>Complete the basic data for start</h2>
        <form
          action="setup"
          method="POST"
          autocomplete="off"
          >
          <input
            type="hidden"
            name="_csrf"
            value="<%- csrfToken -%>"
            />
          <div class="input-text">
            <input
              type="text"
              name="setup_site_name"
              autocomplete="off"
              onfocus="onInputFocus(this)"
              onfocusout="onInputFocus(this)"
              />
            <label>Site Name</label>
            <span class="hint">
              Reactive Web
            </span>
          </div>
          <div class="input-text">
            <input
              type="text"
              name="setup_site_url"
              autocomplete="off"
              onfocus="onInputFocus(this)"
              onfocusout="onInputFocus(this)"
              />
            <label>Site URL</label>
            <span class="hint">
              https://www.example.com/
            </span>
          </div>
          <div class="input-text">
            <input
              type="text"
              name="setup_first_name"
              autocomplete="off"
              onfocus="onInputFocus(this)"
              onfocusout="onInputFocus(this)"
              />
            <label>User First Name</label>
            <span class="hint">
              Eduardo
            </span>
          </div>
          <div class="input-text">
            <input
              type="text"
              name="setup_user_email"
              autocomplete="off"
              onfocus="onInputFocus(this)"
              onfocusout="onInputFocus(this)"
              />
            <label>User Email</label>
            <span class="hint">
              admin@artifactstudio.io
            </span>
          </div>
          <div class="input-text">
            <input
              type="text"
              name="setup_user_name"
              autocomplete="off"
              onfocus="onInputFocus(this)"
              onfocusout="onInputFocus(this)"
              />
            <label>User Name</label>
            <span class="hint">
              Admin
            </span>
          </div>
          <div class="input-text">
            <input
              type="text"
              name="setup_user_pass"
              autocomplete="off"
              onfocus="onInputFocus(this)"
              onfocusout="onInputFocus(this)"
              />
            <label>User Password</label>
            <span class="hint">
              E5OA5A-RW-2018
            </span>
          </div>
          <button
            class="button"
            type="submit"
            >
            Start
          </button>
          <p id="error-msg">
            <%= error_message %>
          </p>
        </form>
      </div>
    </div>
    <script src='/website/js/dashboard-login.js' charset="utf-8"></script>
  </body>
</html>
