<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,900,900i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://js.pusher.com/4.3/pusher.min.js"></script>
    </head>
    <body style="margin: 0px;">
        <style>
            html {
                height: 100%;
                box-sizing: border-box;
            }
            body {
                font-family: 'Roboto', sans-serif;
                background-color: #f2f2f2;
                height: 100%;
                box-sizing: border-box;
            }
        </style>
        <div id="app"></div>
        <script>window.user_id = "<%= user_id %>"; </script>
        <script src='/js/dashboard-website-bundle.js' charset="utf-8"></script>
    </body>
</html>
