<!doctype html>
<html lang="es">
    <head>
        <title>
            <%= title %>
        </title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,900,900i" rel="stylesheet">
        <link href="/css/dashboard-website-login.css" rel="stylesheet">
    </head>
    <body>
        <div class="wrapper">
            <div class="login-form-wrapper">
                <h1><%= title %></h1>
                <h2>Complete the basic data for start</h2>
                <form action="setup" method="POST" autocomplete="off">
                    <div class="input-text">
                        <label>Site Name</label>
                        <input type="text" name="setup_site_name" placeholder="Reactive Web" autocomplete="off"/>
                    </div>
                    <div class="input-text">
                        <label>User First Name</label>
                        <input type="text" name="setup_first_name" placeholder="Eduardo" autocomplete="off"/>
                    </div>
                    <div class="input-text">
                        <label>User Email</label>
                        <input type="text" name="setup_user_email" placeholder="admin@venom.com" autocomplete="off"/>
                    </div>
                    <div class="input-text">
                        <label>User Name</label>
                        <input type="text" name="setup_user_name" placeholder="Admin" autocomplete="off"/>
                    </div>
                    <div class="input-text">
                        <label>User Password</label>
                        <input type="text" name="setup_user_pass" placeholder="RW-2018" autocomplete="off"/>
                    </div>
                    <button class="button" type="submit">Start</button>
                    <%= error_message %>
                </form>
            </div>
        </div>
    </body>
</html>
