<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <div id="app"></div>
        <script src='/js/example-app-bundle.js' charset="utf-8"></script>
    </body>
</html>
