html {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(248, 249, 250);
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

h1 {
  color: #616161;
  display: block;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  position: relative;
  text-align: center;
  z-index: 1;
}

h2 {
  color: #616161;
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 15;
  position: relative;
  text-align: center;
  z-index: 1;
}

.setup-form-wrapper {
  background-color: white;
  border-radius: 3px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin: 100px auto auto auto;
  padding: 20px;
  position: relative;
  width: 400px;
  z-index: 1;
}

.setup-form-wrapper form {
  width: 100%;
}

.input-text {
  border-bottom: 1px solid #aaa;
  display: flex;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}

.input-text label {
  background-color: white;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  top: -10px;
}

.input-text input {
  background: transparent;
  border: none;
  caret-color: #006ac3;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  outline: none;
  padding: 10px 0;
  width: 100%;
}

.input-text input:focus {
  border: none;
  outline: none;
}

.setup-form-wrapper form button {
  background: transparent;
  border-radius: 4px;
  border: none;
  color: #444;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin: auto;
  padding: 7px;
  position: relative;
  right: 0;
  text-transform: uppercase;
}

.setup-form-wrapper form button:hover {
  background-color: #ddd;
}

@media screen and (max-width: 480px) {
  .setup-form-wrapper {
    width: 290px;
  }
}
