<!doctype html>
<html lang="es">
    <head>
        <% include view/default/head %>
    </head>
    <% include view/default/header %>
    <body>
        <h1>
            <%= post.post_title %>
        </h1>
        <div>
            <%- post.post_content %>
        </div>
    </body>
    <% include view/default/footer %>
</html>
