<!doctype html>
<html lang="es">
  <%- include(themeDir + 'header') %>
  <body>
    <h1>
      <%= page.page_title %>
    </h1>
    <div>
      <%- page.page_content %>
    </div>
  </body>
  <%- include(themeDir + 'footer') %>
</html>
